:root {
    --azul-normal: #64C4D2;
    --azul-escuro: #1094AB;
    --cinza-claro: #9F9F9F;
    --amarelo: #FDAF2D;
    --amarelo-escuro: #E99100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply py-2 px-4 rounded-md shadow-md text-white focus:outline-none transition ease-linear duration-300 bg-amarelo-escuro hover:bg-yellow-500 transform hover:scale-105;
    }
    .nomeMaq {
        @apply text-white text-base md:text-lg py-2;
    }
    .statusMaq {
        @apply text-black text-sm md:text-base py-1;
    }
}

.bg-home {
    width: 100%;
    height: 100%;
    background-image: url('/packs/media/img/oficina-hd-e54cfda7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
}

.bg-amarelo {
    background-color: var(--amarelo);
}

.bg-amarelo-escuro {
    background-color: var(--amarelo-escuro);
}

.bg-azul {
    background-color: var(--azul-normal);
}

.bg-azul-escuro {
    background-color: var(--azul-escuro);
}

.bg-cinza {
    background-color: var(--cinza-claro);
}

.verde {
    color: rgb(58, 189, 58);
}

.laranja {
    color: var(--amarelo);
}

.vermelho {
    color: rgb(168, 36, 36);
}

.azul-escuro {
    color: var(--azul-escuro);
}

.branco {
    color: white;
}

.icon-shadow {
    filter:drop-shadow(2px 6px 1px rgb(0, 0, 0))
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-3 {
    flex-grow: 3;
}

.text-shadow {
    text-shadow: 3px 2px 7px rgba(26, 24, 24, 0.7);
}

.box {
    width: 100%;
    /* padding: 150px 0px 200px 0px; */
    height: 70vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.scroll {
    background-color: #ffffff;
    box-shadow: 0px 2px 2px var(--cinza-claro);
}

.divider {
    border-left: 1px solid #505050;
    border-right: 1px solid #292929;
    height: 160px;
    position: relative;
}