<%= render "layouts/navbar" %>

<div class='flex flex-col w-full justify-center items-center bg-gray-200 py-40'>
    <div class='w-auto'>
        <div>
            <p class='titulo'>Editar Máquina</p>
        </div>
        <div>
            <%= render 'form', machine: @machine %>
        </div>
    </div>
</div> 

<%= render "layouts/footer" %>

