<%= render "layouts/navbar" %>

<div class='flex flex-col w-full justify-center items-center bg-gray-200 py-20'>
    <div>
        <p class='titulo'>Adicionar máquina</p>
    </div>
    <div>
        <%= render 'form', machine: @machine %>
    </div>
</div>

<%= render "layouts/footer" %>
