<div class="w-full bg-azul py-2 flex flex-col justify-center items-center">
    <div class="flex flex-row flex-wrap md:flex-nowrap items-start px-7 max-w-6xl">
        <div class="flex-1 px-1">
            <p class="text-white text-base md:text-lg py-2">Oficina PMR</p>
            <p class="text-black text-sm md:text-base py-1">A oficina do Departamento de Engenharia Mecatrônica conta com diversas ferramentas</p>
        </div>
        <div class="flex-1 px-1">
            <p class="text-white text-base md:text-lg py-2">Parceiros</p>
            <p class="text-black text-sm md:text-base py-1">Universidade de São Paulo (USP)</p>
            <p class="text-black text-sm md:text-base py-1">Superintendência de Tecnologia da Informação (STI)</p>
            <p class="text-black text-sm md:text-base py-1">Pró-Reitoria de Graduação (PRG)</p>
            <p class="text-black text-sm md:text-base py-1">Grupo 18 (PMR3304)</p>
        </div>
        <div class="flex-1 px-1">
            <p class="text-white text-base md:text-lg py-2">Centro de Ajuda</p>
            <p class="text-black text-sm md:text-base py-1">No momento não há documentação... :(</p>
        </div>
        <div class="flex-1 px-1">
            <p class="text-white text-base md:text-lg py-2">Helpdesk PRG</p>
            <p class="text-black text-sm md:text-base py-1">E-mail: prg@usp.br</p>
        </div>
    </div>
</div>
<div class="w-full bg-azul-escuro py-2 flex flex-row justify-center items-center">
    <p class="text-white center text-sm md:text-base">Universidade de São Paulo | Oficina PMR | 2020</p>
</div>