<div class="w-full bg-azul py-2 flex flex-col justify-center items-center">
    <div class="flex flex-row flex-wrap md:flex-nowrap items-start px-7 max-w-6xl">
        <div class="flex-1 px-4 text-justify">
            <p class="titulo-footer">Oficina PMR</p>
            <p class="texto-footer">A oficina do Departamento de Engenharia Mecatrônica e Sistemas Mecânicos oferece um espaço para o desenvolvimento de projetos.</p>
        </div>
        <div class="flex-1 px-4">
            <p class="titulo-footer">Parceiros</p>
            <p class="texto-footer">Universidade de São Paulo (USP)</p>
            <p class="texto-footer">Superintendência de Tecnologia da Informação (STI)</p>
            <p class="texto-footer">Pró-Reitoria de Graduação (PRG)</p>
            <p class="texto-footer">Grupo F (PMR3304)</p>
        </div>
        <div class="flex-1 px-4">
            <p class="titulo-footer">Páginas Relacionadas</p>
            <p class="texto-footer"><a class='link-footer' href='https://edisciplinas.usp.br'>E-Disciplinas</a></p>
            <p class="texto-footer"><a class='link-footer' href='http://www.pmr.poli.usp.br'>Homepage do PMR</a></p>
            <p class="texto-footer"><a class='link-footer' href='https://www.poli.usp.br'>Homepage da POLI</a></p>
            
            
        </div>
        <div class="flex-1 px-4">
            <p class="titulo-footer">Helpdesk PRG</p>
            <p class="texto-footer"><strong>E-mail:</strong> prg@usp.br</p>
        </div>
    </div>
</div>
<div class="w-full bg-azul-escuro py-2 flex flex-row justify-center items-center">
    <p class="text-white center text-sm md:text-base">Universidade de São Paulo | Oficina PMR | 2020</p>
</div>