<!-- Icones de status -->
<div class="w-full bg-cinza py-2 flex flex-col justify-center items-center" x-data='{ open: false }'>
    <!-- Botão de consulta e atualização de status -->
    <button class="btn flex flex-row" id="botao-status" @click='open = true'>
        <i class="hidden branco fas fa-redo-alt fa-lg mr-2"></i>
        <p class="text-white font-semibold">Consultar status</p>
    </button>
    <!-- Instruções para consulta -->
    <p class="text-white text-base md:text-lg text-center" x-show='!open'>Para consultar o status das máquinas da Oficina PMR, clique no botão acima</p>
    <div class="w-full flex flex-row flex-wrap md:flex-nowrap items-start px-7" x-show='open'>
        <!-- Ícones dos tornos -->
        <div class="flex-1 px-2 text-center" id="maquina1">
            <p class="nomeMaq">Torno 1</p>
            <i class="fas fa-check fa-4x verde icon-shadow"></i>
            <p class="statusMaq"></p>
        </div>
        <div class="flex-1 px-2 text-center" id="maquina2">
            <p class="nomeMaq">Torno 2</p>
            <i class="fas fa-wrench vermelho fa-4x icon-shadow"></i>
            <p class="statusMaq"></p>
        </div>
        <div class="flex-1 px-2 text-center" id="maquina3">
            <p class="nomeMaq">Torno 3</p>
            <i class="fas fa-check fa-4x verde icon-shadow"></i>
            <p class="statusMaq"></p>
        </div>
        <div class="flex-1 px-2 text-center" id="maquina4">
            <p class="nomeMaq">Torno 4</p>
            <i class="fas fa-check fa-4x verde icon-shadow"></i>
            <p class="statusMaq"></p>
        </div>
        <div class="divider"></div>
        <!-- Ícones das fresas -->
        <div class="flex-1 px-2 text-center" id="maquina5">
            <p class="nomeMaq">Fresadora 1</p>
            <i class="fas fa-check fa-4x verde icon-shadow"></i>
            <p class="statusMaq"></p>
        </div>
        <div class="flex-1 px-2 text-center" id="maquina6">
            <p class="nomeMaq">Fresadora 2</p>
            <i class="fas fa-check fa-4x verde icon-shadow"></i>
            <p class="statusMaq"></p>
        </div>
        <div class="flex-1 px-2 text-center" id="maquina7">
            <p class="nomeMaq">Fresadora 3</p>
            <i class="fas fa-user-clock fa-4x laranja icon-shadow"></i>
            <p class="statusMaq"></p>
        </div>
    </div>
</div>
 
<!-- Variavel com maquinas -->
<%@machines%> 
<!-- Logica icones de status -->
<script>
// VALORES TESTE
    
const status = ['disp', 'manut', 'disp', 'disp', 'disp', 'disp', 'ocup'];

// INCLUIR ANIMACAO DO ICONE ENQUANTO STATUS SAO COLETADOS DO BD

document.addEventListener('DOMContentLoaded', function () {
    $('#botao-status').on('click', function () {
        // Trocar instruções por ícones de status 
        $(this)
            .find('[data-fa-i2svg]')
            .removeClass('hidden')
            .parent().children()[1].textContent = 'Atualizar status';
        // Varrer array de status
        for (const [index,st] of status.entries()) {
            // Extrair status e número da máquina
            const maquina_id = '#maquina' + (index+1);
            // Atualizar ícones e descrição
            if (st == 'disp') {
                $(maquina_id)
                    .find('[data-fa-i2svg]')
                    .removeClass('fa-wrench vermelho')
                    .removeClass('fa-user-clock laranja')
                    .addClass('fa-check verde')
                    .parent().children()[2].textContent = 'Disponível';
            }
            else if (st == 'ocup') {
                $(maquina_id)
                    .find('[data-fa-i2svg]')
                    .removeClass('fa-wrench vermelho')
                    .addClass('fa-user-clock laranja')
                    .removeClass('fa-check verde')
                    .parent().children()[2].textContent = 'Ocupado';
            }
            else {
                $(maquina_id)
                    .find('[data-fa-i2svg]')
                    .addClass('fa-wrench vermelho')
                    .removeClass('fa-user-clock laranja')
                    .removeClass('fa-check verde')
                    .parent().children()[2].textContent = 'Em manutenção';
            }
    }});
});
</script>

<!-- Sobre a oficina -->
<section class="bg-white flex flex-col justify-center items-center max-w-xl xl:max-w-3xl mx-auto">
    <ul class="list-none py-14">
        <li class="text-lg md:text-xl text-black font-semibold">SOBRE</li>
        <li class="text-4xl md:text-5xl azul-escuro font-semibold">OFICINA PMR</li>
    </ul>
    <div class="pb-14 flex flox-row flex-wrap">
        <div class="max-w-full h-auto px-4">
            <%= image_pack_tag 'media/img/oficina.png', alt: 'Oficina PMR' %>
        </div>
        <div class="text-base text-black text-justify p-4">
            A oficina do Departamento de Engenharia Mecatrônica e Sistemas Mecânicos oferece um espaço para o desenvolvimento de projetos de alunos da graduação e pós-graduação. O maquinário disponibilizado inclui tornos e fresadoras, que ficam à disposição para a usinagem de peças e são bastante utilizados por grupos de extensão da Escola Politécnica. O corpo de funcionários da oficina também oferece auxílio técnico para a utilização das ferramentas e é responsável pela manutenção do ambiente.
        </div>
    </div>
</section>